.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }


body {
  background-color: #dadada40;
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {

  padding: 10px 0;
  bottom:0;
  text-align: center;
}
footer a {
  color: black;
  font-size: 35px;
  padding: 10px;

  transition: all .5s ease;
}

footer a:hover {
  color: grey;
}