
body {
  background-color: #dadada40;
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {

  padding: 10px 0;
  bottom:0;
  text-align: center;
}
footer a {
  color: black;
  font-size: 35px;
  padding: 10px;

  transition: all .5s ease;
}

footer a:hover {
  color: grey;
}

.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

.project-link:hover{
background-color: #007bff30;
}
