{% extends 'projects/base.html' %}

{% load static %}

{% block content %}



<div class="row">
    {% for project in projects reversed %}
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>

            </div>
            <div style="margin:2vh;" class="d-flex align-items-end">
                <a href="{% url 'projects:project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
